
$font-size: 16px;
$primary-color: black;

$btn-shadow-offset: 3px;

@import 'components/page.scss';

// Button
.btn {
  font-size: $font-size;
  border-radius: 4px;
  padding: 4px 7px;
  margin: 5px;
  border: 2px solid $primary-color;
  background-color: transparent;
  box-shadow: $btn-shadow-offset $btn-shadow-offset $primary-color;

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: $btn-shadow-offset + 1 $btn-shadow-offset + 1 $primary-color;
  }

  &:active {
    box-shadow: unset;
    background-color: #f4f4f4;
    transition: all 50ms;
    transform: translate($btn-shadow-offset, $btn-shadow-offset);
  }

  &:focus {
    outline: none;
  }
}
